* {
  width: 90%;
  margin: 0 auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr {
  padding: 0.5rem;
}
td {
  padding: 0.2rem;
}
.table-footer {
  border-top: dashed gray;
  border-width: 1px;
}

.container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  font-style: italic;
  border-bottom: solid gray;
  border-width: 1px;
  margin-top: 0;
}

.contact-header {
  margin-bottom: 0;
  font-weight: bold;
}

.bio-info {
  margin-top: 0;
  border-bottom: solid gray;
  border-width: 1px;
}

.job-info {
  margin-top: 0;
}

.name-info {
  margin-bottom: 0.5rem;
}

.back-button {
  margin-top: 1rem;
  padding: 1rem;
}
